*{
	font-family: sans-serif;
}

/*fondo general*/
.fondo{
	background: -webkit-radial-gradient(#790961, #0F0A0E);
}

/*Solo el banner*/
.banner{
	width: 1600px;
	height: 254px;
	border-radius: 5px;
}

/*Recuadro ubicado donde esta el banner*/
.red{
	background: red;
	background: transparent; 
	width: 1600px;
	height: 250px;
	margin-left: 9em;
	margin-top: 0.75em;
}

/*Recuadro ubicado donde esta el contenido*/
.blue{
	margin-top: 1em;
	margin-left: 9em;
	background: blue;
	background-image: url(https://fondosmil.com/fondo/31314.jpg); 
	width: 1600px;
	height: 1015px;
	border-radius: 5px;
}

/*Barra lateral*/
aside{
	text-align: center;
	font-size: 15.5px;
	background: pink;
	background-image: url(https://images.squarespace-cdn.com/content/53a9ace4e4b08de807b3e538/1526751173628-YSTY3FUDEEF0O60Y8SQZ/shutterstock_183171734.jpg?format=2500w&content-type=image%2Fjpeg);
	width: 250px;
	height: 1015px;
	float: right;
	padding: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*Título de la barra lateral*/
aside h3{
	font-size: 33px;
	font-family: Constantia;
}

/*Texto de la barra lateral*/
aside p{
	font-size: 15.8px;
	font-family: Constantia;
}

/*Barra de busqueda*/
.escribir{
	border: 2px solid #B6B6B6;
	margin: 5px;
	padding-bottom: 1px;
}

/*Barra lateral - imagen perro de madera*/
.imagenesAside{
	border-color: grey;
	border-radius: 10px;
	margin-bottom: 15px;
	border-width: 5px; 
}

/*Barra lateral - imagen 2 foto de Luna llena*/
.imagenesAside2{
	border-color: grey;
	border-radius: 10px;
	border-width: 5px; 
}

/*Menu de inicio*/
.yellow{
	margin-left: -0.91em;
	background: yellow;
	background: transparent;
	width: 1350px;
	height: 43px;
}

/*Opciones de menu*/
ul{
	list-style-type: none;
}

nav{
	background-color: transparent;
	height: 50px;
	border-bottom: 2px solid black;
}

.menu li{
	letter-spacing: 1pt;
	float: left;
	list-style-type: none;
	margin: 10px;
	font-size: 20px;
	line-height: 30px;
	border-right: 2px solid #000;
	padding-right: 25px;
	box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
}

.menu li a{
	color: #DCDCDC;
	padding-left: 6px;
    padding-right: 6px;
	text-decoration: none;
	display: block;
	margin-left: 3px;
	margin-right: 3px;
	flex-grow: 1;
}

nav ul li a:hover{
	background: rgba(0,0,0,0.3);
	opacity: 0.8;
}

/*Título*/
.purple{
	margin-left: -0.91em;
	background: purple;
	background: transparent;
	width: 1350px;
	height: 110px;
}

h1 big{
	font-size: 75px;
	letter-spacing: 2pt; 
	word-spacing: 7pt; 
	text-shadow: 0px 15px 25px rgba(0,0,0,0.5);
	font-family: Copper black;
}

h1{
	padding-top: 21px;
    color: transparent;
    margin: 170px;
    text-align: justify;
    background-image: url(https://i.pinimg.com/originals/70/aa/df/70aadf85cd29385b7de58fb1f20f1442.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;

    -webkit-text-stroke: 1.0px black;
} 

/*Estilos a las imagenes - dragones (vídeo)*/

.contenedor figure{
	position: relative;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
	cursor: pointer;
}

.contenedor figure img{
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
}

.contenedor figure .capa{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11,103,123,0.6);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

.contenedor figure:hover > .capa{
	opacity: 1;
	visibility: visible;
}

.contenedor figure:hover > .capa h3{
	margin-top: 70px;
	margin-bottom: 15px;
}

.contenedor figure .capa h3{
	color: #fff;
	font-weight: 400;
	margin-bottom: 120px;
	transition: all 500ms ease-out;
	margin-top: 30px;
	font-size: 30px;
	font-family: Constantia;
}

.contenedor figure:hover > img{
	transform: scale(1.3);
}

.contenedor figure .capa p{
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
	max-width: 220px;
	margin: auto;
	font-size: 15px;
}

/*Click a la imagen*/
.click{
	text-decoration: none;
	color: white;
	font-family: Georgia;
	-webkit-text-stroke: 1px white;
	font-size: 18px;
}

/*Pequeños recuadros parte 1*/
.uno{
	background: green;
	background: transparent;
	width: 250px;
	height: 250px;
	padding: 2em;
}

/*Pequeños recuadros parte 2*/
.dos{
	background: crimson;
	background: transparent;
	width: 250px;
	height: 250px;
	position: relative;
	left: 215px;
	padding: 2em;
}

/*Pequeños recuadros parte 3*/
.tres{
	background: green;
	background: transparent;
	width: 250px;
	height: 250px;
	position: relative;
	left: 428px;
	padding: 2em;
}

/*Pequeños recuadros parte 4*/
.cuatro{
	background: crimson;
	background: transparent;
	width: 250px;
	height: 250px;
	padding: 2em;
	bottom: -185px;
	position: relative;
}

/*Pequeños recuadros parte 5*/
.cinco{
	background: green;
	background: transparent;
	width: 250px;
	height: 250px;
	position: relative;
	left: 215px;
	bottom: -185px;
	padding: 2em;
}

/*Pequeños recuadros parte 6*/
.seis{
	background: crimson;
	background: transparent;
	width: 250px;
	height: 250px;
	position: relative;
	left: 428px;
	padding: 2em;
	bottom: -185px;
}